.loggin-page {
    height: 100%;
    width: 100%;

    .left-box{
        @media (max-width: 800px){
            display: none;
        }
    }

    .media-content {
        

        height: 93.9vh;
        background: url(/img/loggin-back.jpg) center right;
        color: #fff;

        h1, h2, h3, h4{
            padding: 3em 2em;
        }
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.log-box {
    padding-top: 15%;
    background-color: #fff;
    padding-left: 2em;
    padding-right: 2em;
}
