<div id="sequence">
    <ul class="seq-canvas">

        <li class="step1">
            <div class="content">
                <h2 data-seq class="seq-title display-3">Parrot Wings</h2>
                <h3 data-seq class="seq-text">The best money transfers</h3>
            </div>
        </li>

        <li class="step2">
            <div class="content">
                <h2 data-seq class="seq-title display-1">
                    State of Independence
                </h2>
                <h3 data-seq class="seq-text">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus
                </h3>
            </div>
        </li>

        <li class="step3">
            <div class="content">
                <h2 data-seq class="seq-title display-3">
                    Think Different
                </h2>
                <h3 data-seq class="seq-text">
                    Scelerisque euismod, iaculis eu lacus nunc mi elit
                </h3>
            </div>
        </li>
    </ul>
</div>

<script>
    var sequenceElement = document.getElementById("sequence");

    var options = {
        autoPlay: true,
        autoPlayDelay: 2000,
        animateCanvas: false
    };

    // Launch Sequence on the element, and with the options we specified above
    var mySequence = sequence(sequenceElement, options);
</script>

<div class="getting-started">
    <div class="container">
        <h1 class="display-3 text-uppercase text-center">Most popular service</h1>
        <br />
        <p class="text-center">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, <br />aliquam sit amet justo nunc tempor, metus vel.
            Lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae<br /> feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
        </p>
        <div class="text-center">
            <a href="/profile" class="btn btn-lg btn-primary">Getting started</a>
        </div>
    </div>
</div>

<div class="designed">
    <div class="container">
        <h1 class="display-3 text-uppercase text-center">Designed for everyone, everywhere</h1>
        <br />
        <div class="row media-icons">
            <div class="col-md-4">
                <img src="/img/free.png" alt="" />
                <h4>Quick money transfers</h4>
                <p>
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/free2.png" alt="" />
                <h4>There are a lot of us</h4>
                <p>
                    Lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel
                </p>
            </div>
            <div class="col-md-4">
                <img src="/img/free3.png" alt="" />
                <h4>We safety</h4>
                <p>
                    Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metu
                </p>
            </div>
        </div>
    </div>
</div>