/*$first-color: #3D3D3D;*/
/* Style the Sequence container */
#sequence {
  position: relative;
  width: 100%;
  height: 585px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background-color: #3D3D3D;
  /* Vertically center align the .content element */ }
  #sequence .seq-canvas,
  #sequence .seq-canvas > * {
    /* Reset */
    margin: 0;
    padding: 0;
    list-style: none; }
  #sequence .seq-canvas {
    /* Make the canvas the same dimensions as the container and prevent lines from
        wrapping so each step can sit side-by-side */
    position: absolute;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    /* Used to vertically center align the .content element */ }
    #sequence .seq-canvas > * {
      text-align: center;
      /* Stack the steps in the same place (no canvas animation) */
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
      width: 100%;
      color: #fff; }
    #sequence .seq-canvas > li:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
  #sequence .content {
    /* Default styles for content */
    display: inline-block;
    vertical-align: middle;
    margin: 0 4%;
    /* Reset the font-size from 0 back to 16 */
    font-size: 16px; }
  #sequence .seq-title {
    /* Starting positions */
    margin: 0 0 .5em 0;
    display: block;
    line-height: 1.4;
    font-size: 3.8em;
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transform: translateX(100px) translateY(0) translateZ(0);
    transform: translateX(100px) translateY(0) translateZ(0); }
  #sequence .seq-text {
    opacity: 0;
    -webkit-transition-duration: .9s;
    transition-duration: .9s;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transform: translateX(100px) translateY(0) translateZ(0);
    transform: translateX(100px) translateY(0) translateZ(0); }
  #sequence .seq-in {
    /* Animate in positions for content */ }
    #sequence .seq-in .seq-title {
      opacity: 1;
      -webkit-transform: translateX(0) translateY(0) translateZ(0);
      transform: translateX(0) translateY(0) translateZ(0); }
    #sequence .seq-in .seq-text {
      opacity: 1;
      -webkit-transform: translateX(0) translateY(0) translateZ(0);
      transform: translateX(0) translateY(0) translateZ(0); }
  #sequence .seq-out {
    /* Animate out positions for content */ }
    #sequence .seq-out .seq-title {
      opacity: 0;
      -webkit-transition-duration: .6s;
      transition-duration: .6s;
      -webkit-transform: translateX(-100px) translateY(0) translateZ(0);
      transform: translateX(-100px) translateY(0) translateZ(0); }
    #sequence .seq-out .seq-text {
      opacity: 0;
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transform: translateX(-100px) translateY(0) translateZ(0);
      transform: translateX(-100px) translateY(0) translateZ(0); }

.loggin-page {
  height: 100%;
  width: 100%; }
  @media (max-width: 800px) {
    .loggin-page .left-box {
      display: none; } }
  .loggin-page .media-content {
    height: 93.9vh;
    background: url(/img/loggin-back.jpg) center right;
    color: #fff; }
    .loggin-page .media-content h1, .loggin-page .media-content h2, .loggin-page .media-content h3, .loggin-page .media-content h4 {
      padding: 3em 2em; }
  .loggin-page .row {
    margin-left: -15px;
    margin-right: -15px; }

.log-box {
  padding-top: 15%;
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em; }

.profile-page .box {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  margin-left: 0;
  margin-right: 0; }
  .profile-page .box > div {
    padding: 2em 1.8em; }

.profile-page .last-transactions small {
  font-size: 0.75em; }

.profile-page .destionation {
  display: none; }
  @media (max-width: 1400px) {
    .profile-page .destionation {
      display: inline-block; } }

.profile-page .row {
  margin-left: 0;
  margin-right: 0; }

.box {
  background: #fff;
  border: 1px solid #efefef;
  box-shadow: 1px 2px 3px #efefef; }

.history {
  padding: 2em; }

.history > div {
  padding: 0; }

.send-form {
  padding: 2em; }

body {
  padding-top: 56px;
  overflow-y: scroll;
  background-color: #fdfdfd; }

ng-view > div {
  /*padding-top: 54px;
    padding-bottom: -54px;*/ }

.debit {
  color: #4CB050; }

.debit::before {
  content: "+"; }

.credit {
  color: #E84C3D; }

.credit::before {
  content: "-"; }

.btn {
  border-radius: 0; }

@media (max-width: 576px) {
  nav > .container {
    margin-left: 0;
    margin-right: 0; } }

.btn-outline-primary {
  border-color: #1293D5;
  color: #0889cb; }

.btn-primary {
  background-color: #1293D5;
  border-color: #1091d3; }

.navbar {
  background-color: #fff;
  box-shadow: 1px 2px 3px #efefef; }

.getting-started {
  background-color: #EFEFF1;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em; }
  .getting-started p {
    font-size: 1.1em;
    line-height: 2.2em; }

.designed {
  padding-top: 5em;
  padding-bottom: 5em; }
  .designed .media-icons {
    padding-top: 2em;
    text-align: center; }
    .designed .media-icons h4 {
      margin-top: 1.1em; }

